.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .navbarleft a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbarright ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbarright li {
    margin: 0 10px;
  }
  
  .navbarright li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbarright li a:hover {
    color: #ccc;
  }
  
  .hero {
    background-image: url("../asset/interior-shot-cafe-with-chairs-near-bar-with-wooden-tables.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .herocontent {
    text-align: center;
  }
  
  .herocontent h1 {
    font-size: 48px;
    color: #fff;
    background-color: #333;
    margin-bottom: 20px;
  }